.main-app {
    text-align: center;
    margin: 100px;
}

.cta-button {
    padding: 3px;
    border: solid #0e06f4;
    border-width: thick;
    border-width: 0 4px 1px 1px;
    border-radius: 3px;
    min-width: 6px;
    color: rgb(253, 253, 253);
    font-size: 8px;
    cursor: pointer;
    
}

.connect-wallet-button {
    background: rgb(3, 9, 193);
    position: fixed;
    right: 3px;
    top: 3px;
    font-size: 20px;
}

.mint-nft-button {
    background: orange;
    border:none; 
    border-radius: 13px;
    min-width: 30px;
    color: rgb(253, 253, 253);
    font-size: 25px;
    font-weight: bold;
    padding: 1%;
}
